@font-face {
  font-family: Roboto;
  src: url(/assets/Roboto-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: #fafafa;
  position: relative;
}

header {
  margin: 20px 0 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header img {
  padding-left: 15px;
}

header p {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 3rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.filtersCompany {
  width: 200px;
  padding-left: 10px;
  font-family: "Roboto";
}

.filtersCompanyFixedTop {
  width: 200px;
  padding-left: 10px;
  font-family: "Roboto";
  position: sticky;
  top: 0;
}

#selectDiscountAmountArea,
#searchInputArea,
#selectionAlphabeticallyArea {
  background-color: #30287b;
  width: 100%;
  color: #fff;
  border-radius: 5px;
  padding: 5px 0;
  margin: 5px 0;
}

#searchInputArea input,
#selectDiscountAmountArea select,
#selectionAlphabeticallyArea select {
  width: 90%;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

input::placeholder {
  height: 100%;
  color: #000;
  background-color: #fff;
}

button {
  width: 100%;
  height: 40px;
  background-color: #30287b;
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.companies {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% - 200px);
}

.contentCompany {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 250px;
  max-width: 250px;
  height: 300px;
  margin: 0 15px 30px 15px;
  box-shadow: -2px 5px 10px 3px rgba(0, 0, 0, 0.15);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.infoCompany {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.nameCompany {
  padding-top: 10px;
  color: #4d4d4d;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1rem;
}

.discountAmount {
  color: #4d4d4d;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.discountAmount a {
  text-decoration: none;
  color: #4d4d4d;
}

.contentCompany img {
  width: 100%;
  height: 670px;
  overflow: auto;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    margin: 10px 0 10px 0;
  }

  header p {
    font-size: 2rem;
    margin-top: 23px;
  }
  main {
    flex-direction: column;
    width: 100%;
  }

  button {
    border-radius: 0px;
  }

  .filtersCompany {
    width: 100%;
    padding-left: 0;
  }

  .filtersCompanyFixedTop {
    width: 100%;
    padding-left: 0;
  }

  #selectDiscountAmountArea,
  #searchInputArea,
  #selectionAlphabeticallyArea {
    border-radius: 0px;
  }

  .discountAmount {
    font-size: 1.5rem;
  }

  .companies {
    width: 100vw;
  }

  .nameCompany {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .filtersCompany select,
  input {
    width: 90vw;
    margin-bottom: 30px;
  }

  .filtersCompany input {
    height: 10vh;
    text-align: center;
  }

  .contentCompany {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    animation: none;
    width: 90%;
    max-width: none;
    height: 451px;
  }

  .contentCompany img {
    width: 100%;
    height: 329px;
    overflow: inherit;
  }

  #numberFound {
    background-color: red;
    padding: 20px 0;
  }
}
